#informer
#2020_04
#----------------------------------------------------
#----------------------------------------------------
#ignore all
*
# ...even if they (all) are in subdirectories
!*/
#----------------------------------------------------
#----------------------------------------------------
#docs or #reports or #info #text
!*.docx
!*.doc
!*.txt
!*.log
!*.pdf
!*.djvu
#----------------------------------------------------
#system
#system->batch
!*.bat
!*.cmd
#system->archive
!*.zip
!*.rar
!*.tar
#system->etc
!*.reg
!*.exe
!*.lnk
/Новая папка/
#----------------------------------------------------
#EXCLUDE_AT_THE_END
*.exe
*.rar
*.lnk
#----------------------------------------------------
#INCLUDE_AT_THE_END
!/CMD_extensions/3rd_party/nircmd/*.exe
!/CMD_extensions/3rd_party/nircmd/*.chm
#----------------------------------------------------
#----------------------------------------------------
#self-files
!*.gitignore
!*.md
#----------------------------------------------------
#----------------------------------------------------